<div class="flex justify-center items-center h-screen">
  <div class="flex items-center justify-center">
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-l"
      id="decrement"
      (click)="decrease()"
    >
      -
    </button>
    <span class="bg-gray-200 text-gray-700 py-2 px-4 rounded">
      <span id="count">{{ count }}</span>
    </span>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r"
      id="increment"
      (click)="increase()"
    >
      +
    </button>
  </div>
</div>
